<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Planet Zoo - About</title>
    <script
      src="https://kit.fontawesome.com/60c94ed1cd.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="app">
      <header class="header">
        <div class="header__wrapper container">
          <button class="btn btn-tertiary btn-menu">
            <i class="fa-solid fa-bars"></i>
          </button>
          <a href="/" class="header__brand">
            <img src="/logo.png" alt="Planet Zoo Logo" class="header__logo" />
          </a>
          <nav class="nav">
            <div class="nav__wrapper">
              <ul class="nav__list">
                <li class="nav__item">
                  <a href="/index.html" class="nav__link"
                    >Home <i class="fa-solid fa-arrow-right fa-active"></i
                  ></a>
                </li>
                <li class="nav__item">
                  <a href="/src/layout/about.html" class="nav__link"
                    >About <i class="fa-solid fa-arrow-right fa-active"></i
                  ></a>
                </li>
                <li class="nav__item">
                  <a href="/src/layout/gallery.html" class="nav__link"
                    >Gallery <i class="fa-solid fa-arrow-right fa-active"></i
                  ></a>
                </li>

                <li class="nav__item">
                  <a href="/src/layout/contact.html" class="nav__link"
                    >Contact <i class="fa-solid fa-arrow-right fa-active"></i
                  ></a>
                </li>
              </ul>
              <div class="nav__cta">
                <a href="/src/layout/donation.html" class="btn btn-secondary"
                  >Conservation</a
                >
              </div>
            </div>
          </nav>
          <a
            href="/src/layout/tickets.html"
            class="header__cta btn btn-tertiary"
            >Tickets</a
          >
        </div>
      </header>
      <main class="main">
        <section class="banner">
          <div class="banner__wrapper container">
            <h2 class="banner__title">About</h2>
          </div>
        </section>
        <section class="section info">
          <div class="info__wrapper container">
            <div class="info__content">
              <h2 class="info__subtitle">It's a zoo in here</h2>
              <h1 class="info__title">Amazing Animals In our Zoo</h1>
              <p class="info__desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                vitae suscipit nisl. Vivamus ullamcorper sapien leo, ac
                consectetur lorem convallis a. Aliquam vel nisi at diam ornare
                euismod interdum ornare nibh. In hac habitasse platea dictumst
                vestibulum vitae felis eu. <br />
                <br />
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                vitae suscipit nisl. Vivamus ullamcorper sapien leo, ac
                consectetur lorem convallis a. Aliquam vel nisi at diam ornare
                euismod.
              </p>
            </div>
            <figure class="video">
              <div class="video__wrapper">
                <iframe
                  src="https://www.youtube.com/embed/mDHlHdFwek0"
                  title="Planet Zoo Safari Tour"
                  frameborder="0"
                  height="320"
                  width="576"
                  allowfullscreen
                  class="video__source"
                >
                </iframe>
              </div>
            </figure>
          </div>
        </section>
        <section class="section about-banner">
          <div class="about-banner__wrapper container">
            <div class="item">
              <h2>60+</h2>
              <p>Wild Animals</p>
            </div>
            <div class="item">
              <h2>20+</h2>
              <p>Aquatic Animals</p>
            </div>
            <div class="item">
              <h2>40+</h2>
              <p>Beautiful Birds</p>
            </div>
            <div class="item">
              <h2>60K</h2>
              <p>Happy Clients</p>
            </div>
          </div>
        </section>
        <section class="section team">
          <div class="team__wrapper container">
            <div class="section__header">
              <h2 class="section__subtitle">It's a zoo in here</h2>
              <h1 class="section__title">Our Awesome Teams</h1>
              <p class="section__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Praesent neque ligula, cursus a massa sed, consectetur malesuada
                dui.
              </p>
            </div>
            <div class="team__list">
              <div class="team__card">
                <img
                  src="/team-member-1.jpg"
                  alt="Team Member Image"
                  class="team__card-img"
                />
                <div class="team__card__content">
                  <h2 class="team__card-name">Maxwel Smith</h2>
                  <p class="team__card-position">Tour Manager</p>
                  <ul class="team__card__socials">
                    <li>
                      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="team__card">
                <img
                  src="/team-member-2.jpg"
                  alt="Team Member Image"
                  class="team__card-img"
                />
                <div class="team__card__content">
                  <h2 class="team__card-name">Bob Jackson</h2>
                  <p class="team__card-position">General Director</p>
                  <ul class="team__card__socials">
                    <li>
                      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="team__card">
                <img
                  src="/team-member-4.jpg"
                  alt="Team Member Image"
                  class="team__card-img"
                />
                <div class="team__card__content">
                  <h2 class="team__card-name">Rose Flex</h2>
                  <p class="team__card-position">Animal Health</p>
                  <ul class="team__card__socials">
                    <li>
                      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="team__card">
                <img
                  src="/team-member-3.jpg"
                  alt="Team Member Image"
                  class="team__card-img"
                />
                <div class="team__card__content">
                  <h2 class="team__card-name">Simon Bob</h2>
                  <p class="team__card-position">Office Master</p>
                  <ul class="team__card__socials">
                    <li>
                      <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section faq">
          <div class="faq__wrapper container">
            <div class="section__header">
              <h2 class="section__subtitle">It's a zoo in here</h2>
              <h1 class="section__title">Frequently Asked Questions</h1>
              <p class="section__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Praesent neque ligula, cursus a massa sed, consectetur malesuada
                dui.
              </p>
            </div>
            <div class="faq__container">
              <div class="faq__item">
                <button class="btn btn-secondary faq-question">
                  What time does the Zoo open and close?
                  <span class="arrow"
                    ><i class="fa-solid fa-angle-down"></i
                  ></span>
                </button>
                <div class="faq-answer">
                  <p>The Zoo is open every day, except Dec. 25.</p>
                </div>
              </div>
              <div class="faq__item">
                <button class="btn btn-secondary faq-question">
                  Is the Zoo free to visit?
                  <span class="arrow"
                    ><i class="fa-solid fa-angle-down"></i
                  ></span>
                </button>
                <div class="faq-answer">
                  <p>
                    Yes! Admission to the Zoo is free, but entry passes are
                    required.
                  </p>
                </div>
              </div>
              <div class="faq__item">
                <button class="btn btn-secondary faq-question">
                  Do I need to wear a face covering to visit?
                  <span class="arrow"
                    ><i class="fa-solid fa-angle-down"></i
                  ></span>
                </button>
                <div class="faq-answer">
                  <p>No, as long as you are feeling well.</p>
                </div>
              </div>
              <div class="faq__item">
                <button class="btn btn-secondary faq-question">
                  What COVID-19 precautions is the Zoo taking?
                  <span class="arrow"
                    ><i class="fa-solid fa-angle-down"></i
                  ></span>
                </button>
                <div class="faq-answer">
                  <p>Wear masks if needed, use hand sanitazer.</p>
                </div>
              </div>
              <div class="faq__item">
                <button class="btn btn-secondary faq-question">
                  What are you doing to keep the animals safe?
                  <span class="arrow"
                    ><i class="fa-solid fa-angle-down"></i
                  ></span>
                </button>
                <div class="faq-answer">
                  <p>
                    Team members are looking over the animals all the time, with
                    appropriate feeding and playing system.
                  </p>
                </div>
              </div>
              <div class="faq__item">
                <button class="btn btn-secondary faq-question">
                  Can I bring food and drinks into the Zoo?
                  <span class="arrow"
                    ><i class="fa-solid fa-angle-down"></i
                  ></span>
                </button>
                <div class="faq-answer">
                  <p>
                    Yes, you can! However, there a specifically designed areas
                    to eat and drink.
                  </p>
                </div>
              </div>
              <div class="faq__item">
                <button class="btn btn-secondary faq-question">
                  Do restaurants and shops accept cash?
                  <span class="arrow"
                    ><i class="fa-solid fa-angle-down"></i
                  ></span>
                </button>
                <div class="faq-answer">
                  <p>
                    Yes, cash and card payments are accepted in each shop on Zoo
                    area.
                  </p>
                </div>
              </div>
              <div class="faq__item">
                <button class="btn btn-secondary faq-question">
                  Is there a place to store my bags or luggage during my visit?
                  <span class="arrow"
                    ><i class="fa-solid fa-angle-down"></i
                  ></span>
                </button>
                <div class="faq-answer">
                  <p>
                    No, the Zoo does not have lockers or a coat/bag check for
                    storing your belongings during your visit.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="newsletter">
          <div class="newsletter__wrapper container">
            <div class="newsletter__content">
              <h2 class="newsletter__content-subtitle">It's a zoo in here</h2>
              <h1 class="newsletter__content-title">
                Amazing Animals In our Zoo
              </h1>
              <p class="newsletter__content-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Praesent neque ligula, cursus a massa sed, consectetur malesuada
                dui.
              </p>
            </div>
            <div class="newsletter__cta">
              <h2 class="newsletter__cta-title">Subscribe to Newsletter</h2>
              <form action="#" class="newsletter__cta-form">
                <input
                  type="text"
                  placeholder="Your Name"
                  class="newsletter__cta-name"
                />
                <input
                  type="email"
                  placeholder="Your Email"
                  class="newsletter__cta-email"
                />
                <button class="btn btn-tertiary newsletter__cta-submit">
                  Submit
                </button>
              </form>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="footer__wrapper container">
          <div class="footer__content">
            <a href="#" class="footer__brand">
              <img src="/logo.png" alt="Planet Zoo Logo" class="footer__logo" />
              <span class="footer__title">Planet Zoo</span>
            </a>
            <p class="footer__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vestibulum dui sed mi mattis, ut tristique ligula iaculis. Sed
              dictum, turpis placerat venenatis dapibus, purus urna tincidunt
              odio.
            </p>
            <div class="footer__social">
              <ul class="footer__social-list" role="list">
                <li class="footer__social-item">
                  <a href="#" class="footer__social-link" aria-label="Facebook">
                    <i class="fa-brands fa-facebook"></i>
                  </a>
                </li>
                <li class="footer__social-item">
                  <a href="#" class="footer__social-link" aria-label="Twitter">
                    <i class="fa-brands fa-twitter"></i>
                  </a>
                </li>
                <li class="footer__social-item">
                  <a href="#" class="footer__social-link" aria-label="LinkedIn">
                    <i class="fa-brands fa-linkedin-in"></i>
                  </a>
                </li>
                <li class="footer__social-item">
                  <a href="#" class="footer__social-link" aria-label="YouTube">
                    <i class="fa-brands fa-youtube"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="footer__cta">
            <div class="footer__column footer__column--company">
              <h2 class="footer__column-title">Company</h2>
              <ul class="footer__list">
                <li class="footer__item">
                  <a href="./index.html" class="footer__link">Home</a>
                </li>
                <li class="footer__item">
                  <a href="./about.html" class="footer__link">About Us</a>
                </li>
                <li class="footer__item">
                  <a href="./gallery.html" class="footer__link">Gallery</a>
                </li>
                <li class="footer__item">
                  <a href="./tickets.html" class="footer__link">Tickets</a>
                </li>
                <li class="footer__item">
                  <a href="./donation.html" class="footer__link">Donation</a>
                </li>
              </ul>
            </div>

            <div class="footer__column footer__column--animals">
              <h2 class="footer__column-title">Animals</h2>
              <ul class="footer__list">
                <li class="footer__item">
                  <a
                    href="/src/layout/gallery_single.html?animal=jackal"
                    class="footer__link"
                    >Jackal</a
                  >
                </li>
                <li class="footer__item">
                  <a
                    href="/src/layout/gallery_single.html?animal=elephant"
                    class="footer__link"
                    >Elephant</a
                  >
                </li>
                <li class="footer__item">
                  <a
                    href="/src/layout/gallery_single.html?animal=zebra"
                    class="footer__link"
                    >Zebra</a
                  >
                </li>
                <li class="footer__item">
                  <a
                    href="/src/layout/gallery_single.html?animal=tiger"
                    class="footer__link"
                    >Tiger</a
                  >
                </li>
                <li class="footer__item">
                  <a
                    href="/src/layout/gallery_single.html?animal=deer"
                    class="footer__link"
                    >Deer</a
                  >
                </li>
                <li class="footer__item">
                  <a
                    href="/src/layout/gallery_single.html?animal=bear"
                    class="footer__link"
                    >Bear</a
                  >
                </li>
              </ul>
            </div>

            <div class="footer__column footer__column--links">
              <h2 class="footer__column-title">Links</h2>
              <ul class="footer__list">
                <li class="footer__item">
                  <a href="#" class="footer__link">Privacy Policy</a>
                </li>
                <li class="footer__item">
                  <a href="#" class="footer__link">Terms & Conditions</a>
                </li>
                <li class="footer__item">
                  <a href="/src/layout/contact.html" class="footer__link"
                    >Contact</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="module" src="/src/js/main.js"></script>
  </body>
</html>
