<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Planet Zoo - Donation</title>
    <script
      src="https://kit.fontawesome.com/60c94ed1cd.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="app">
      <header class="header">
        <div class="header__wrapper container">
          <button class="btn btn-tertiary btn-menu">
            <i class="fa-solid fa-bars"></i>
          </button>
          <a href="/" class="header__brand">
            <img src="/logo.png" alt="Planet Zoo Logo" class="header__logo" />
          </a>
          <nav class="nav">
            <div class="nav__wrapper">
              <ul class="nav__list">
                <li class="nav__item">
                  <a href="/index.html" class="nav__link"
                    >Home <i class="fa-solid fa-arrow-right fa-active"></i
                  ></a>
                </li>
                <li class="nav__item">
                  <a href="/src/layout/about.html" class="nav__link"
                    >About <i class="fa-solid fa-arrow-right fa-active"></i
                  ></a>
                </li>
                <li class="nav__item">
                  <a href="/src/layout/gallery.html" class="nav__link"
                    >Gallery <i class="fa-solid fa-arrow-right fa-active"></i
                  ></a>
                </li>

                <li class="nav__item">
                  <a href="/src/layout/contact.html" class="nav__link"
                    >Contact <i class="fa-solid fa-arrow-right fa-active"></i
                  ></a>
                </li>
              </ul>
              <div class="nav__cta">
                <a href="/src/layout/donation.html" class="btn btn-secondary"
                  >Conservation</a
                >
              </div>
            </div>
          </nav>
          <a
            href="/src/layout/tickets.html"
            class="header__cta btn btn-tertiary"
            >Tickets</a
          >
        </div>
      </header>
      <main class="main">
        <section class="banner">
          <div class="banner__wrapper container">
            <h2 class="banner__title">Donation</h2>
          </div>
        </section>
        <section class="section donate-gallery">
          <div class="donate-gallery__wrapper container">
            <div class="donate-gallery__list">
              <!-- CARDS -->
            </div>
          </div>
        </section>
        <section class="newsletter">
          <div class="newsletter__wrapper container">
            <div class="newsletter__content">
              <h2 class="newsletter__content-subtitle">It's a zoo in here</h2>
              <h1 class="newsletter__content-title">
                Amazing Animals In our Zoo
              </h1>
              <p class="newsletter__content-description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Praesent neque ligula, cursus a massa sed, consectetur malesuada
                dui.
              </p>
            </div>
            <div class="newsletter__cta">
              <h2 class="newsletter__cta-title">Subscribe to Newsletter</h2>
              <form action="#" class="newsletter__cta-form">
                <input
                  type="text"
                  placeholder="Your Name"
                  class="newsletter__cta-name"
                />
                <input
                  type="email"
                  placeholder="Your Email"
                  class="newsletter__cta-email"
                />
                <button class="btn btn-tertiary newsletter__cta-submit">
                  Submit
                </button>
              </form>
            </div>
          </div>
        </section>
      </main>
      <footer class="footer">
        <div class="footer__wrapper container">
          <div class="footer__content">
            <a href="#" class="footer__brand">
              <img src="/logo.png" alt="Planet Zoo Logo" class="footer__logo" />
              <span class="footer__title">Planet Zoo</span>
            </a>
            <p class="footer__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              vestibulum dui sed mi mattis, ut tristique ligula iaculis. Sed
              dictum, turpis placerat venenatis dapibus, purus urna tincidunt
              odio.
            </p>
            <div class="footer__social">
              <ul class="footer__social-list" role="list">
                <li class="footer__social-item">
                  <a href="#" class="footer__social-link" aria-label="Facebook">
                    <i class="fa-brands fa-facebook"></i>
                  </a>
                </li>
                <li class="footer__social-item">
                  <a href="#" class="footer__social-link" aria-label="Twitter">
                    <i class="fa-brands fa-twitter"></i>
                  </a>
                </li>
                <li class="footer__social-item">
                  <a href="#" class="footer__social-link" aria-label="LinkedIn">
                    <i class="fa-brands fa-linkedin-in"></i>
                  </a>
                </li>
                <li class="footer__social-item">
                  <a href="#" class="footer__social-link" aria-label="YouTube">
                    <i class="fa-brands fa-youtube"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="footer__cta">
            <div class="footer__column footer__column--company">
              <h2 class="footer__column-title">Company</h2>
              <ul class="footer__list">
                <li class="footer__item">
                  <a href="./index.html" class="footer__link">Home</a>
                </li>
                <li class="footer__item">
                  <a href="./about.html" class="footer__link">About Us</a>
                </li>
                <li class="footer__item">
                  <a href="./gallery.html" class="footer__link">Gallery</a>
                </li>
                <li class="footer__item">
                  <a href="./tickets.html" class="footer__link">Tickets</a>
                </li>
                <li class="footer__item">
                  <a href="./donation.html" class="footer__link">Donation</a>
                </li>
              </ul>
            </div>

            <div class="footer__column footer__column--animals">
              <h2 class="footer__column-title">Animals</h2>
              <ul class="footer__list">
                <li class="footer__item">
                  <a
                    href="/src/layout/gallery_single.html?animal=jackal"
                    class="footer__link"
                    >Jackal</a
                  >
                </li>
                <li class="footer__item">
                  <a
                    href="/src/layout/gallery_single.html?animal=elephant"
                    class="footer__link"
                    >Elephant</a
                  >
                </li>
                <li class="footer__item">
                  <a
                    href="/src/layout/gallery_single.html?animal=zebra"
                    class="footer__link"
                    >Zebra</a
                  >
                </li>
                <li class="footer__item">
                  <a
                    href="/src/layout/gallery_single.html?animal=tiger"
                    class="footer__link"
                    >Tiger</a
                  >
                </li>
                <li class="footer__item">
                  <a
                    href="/src/layout/gallery_single.html?animal=deer"
                    class="footer__link"
                    >Deer</a
                  >
                </li>
                <li class="footer__item">
                  <a
                    href="/src/layout/gallery_single.html?animal=bear"
                    class="footer__link"
                    >Bear</a
                  >
                </li>
              </ul>
            </div>

            <div class="footer__column footer__column--links">
              <h2 class="footer__column-title">Links</h2>
              <ul class="footer__list">
                <li class="footer__item">
                  <a href="#" class="footer__link">Privacy Policy</a>
                </li>
                <li class="footer__item">
                  <a href="#" class="footer__link">Terms & Conditions</a>
                </li>
                <li class="footer__item">
                  <a href="/src/layout/contact.html" class="footer__link"
                    >Contact</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script type="module" src="/src/js/main.js"></script>
  </body>
</html>
